[submodule "deps/luajit"]
	path = deps/luajit
	url = https://moongen:gldt-41G4K54jJXLqeGHrB1Qh@gitlab.lrz.de/moongen/LuaJIT.git
	ignore = untracked
	branch = v2.1
[submodule "deps/dpdk"]
	path = deps/dpdk
	url = https://moongen:gldt-41G4K54jJXLqeGHrB1Qh@gitlab.lrz.de/moongen/dpdk.git
	ignore = untracked
	branch = v22.11-libmoon
[submodule "deps/pciids"]
	path = deps/pciids
	url = https://moongen:gldt-41G4K54jJXLqeGHrB1Qh@gitlab.lrz.de/moongen/pciids.git
	ignore = untracked
	branch = master
[submodule "lua/lib/syscall"]
	path = lua/lib/syscall
	url = https://github.com/emmericp/ljsyscall
	branch = master
[submodule "lua/lib/pf"]
	path = lua/lib/pf
	url = https://github.com/emmericp/pflua
[submodule "lua/lib/turbo"]
	path = lua/lib/turbo
	url = https://github.com/emmericp/turbo
